[project]
	description = NFS-Ganesha, a NFSv3/NFSv4.x/9P file server in User Space
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Krishna Harathi (kharathi)
[access "refs/for/refs/*"]
	read = group user/Krishna Harathi (kharathi)
	push = group user/Krishna Harathi (kharathi)
	label-Code-Review = -2..+2 group user/Krishna Harathi (kharathi)
	label-Verified = -1..+1 group user/Krishna Harathi (kharathi)
	rebase = group user/Krishna Harathi (kharathi)
	removeReviewer = group user/Krishna Harathi (kharathi)
	submit = group user/Krishna Harathi (kharathi)
[access "refs/heads/*"]
	read = group user/Krishna Harathi (kharathi)
	create = group user/Krishna Harathi (kharathi)
	push = +force group user/Krishna Harathi (kharathi)
	pushMerge = group user/Krishna Harathi (kharathi)
[access "refs/tags/*"]
	push = +force group user/Krishna Harathi (kharathi)
	pushTag = group user/Krishna Harathi (kharathi)
	pushSignedTag = group user/Krishna Harathi (kharathi)
